<html>
<form action="" method="POST">
<h3>Question No</h3>
<input type="number" rows="5" cols="120" name="qno">
</textarea>
<h3>Name of question</h3>
<textarea rows="5" cols="120" name="name">
</textarea>
<h3>Description</h3>
<textarea rows="20" cols="120" name="desc">
</textarea>
<h3>Input Format</h3>
<textarea rows="10" cols="120" name="inputf">
</textarea>
<h3>Output Format</h3>
<textarea rows="10" cols="120" name="outputf">
</textarea>
<h3>Constraints</h3>
<textarea rows="5" cols="120" name="cons">
</textarea>
<h3>Sample Input</h3>
<textarea rows="5" cols="120" name="si">
</textarea>
<h3>Sample Output</h3>
<textarea rows="5" cols="120" name="so">
</textarea>
<h3>Explanation</h3>
<textarea rows="5" cols="120" name="explanation">
</textarea>
<h3>Testcase-1 Input</h3>
<textarea rows="5" cols="120" name="inp_one">
</textarea>
<h3>Testcase-1 Output</h3>
<textarea rows="5" cols="120" name="out_one">
</textarea>
<h3>Testcase-2 Input</h3>
<textarea rows="5" cols="120" name="inp_two">
</textarea>
<h3>Testcase-2 Output</h3>
<textarea rows="5" cols="120" name="out_two">
</textarea>
<h3>Testcase-3 Input</h3>
<textarea rows="5" cols="120" name="inp_three">
</textarea>
<h3>Testcase-3 Output</h3>
<textarea rows="5" cols="120" name="out_three">
</textarea>
<input type="submit" name="add" value="Add Question">
</form>
</html>