<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="/static/logo.png" />
<title>challenges</title>
<link rel="stylesheet" type="text/css" href="/static/questions.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div id="paper" class="content">
<body>
<h1>Solve the Challenges given below</h1>
<div>
<p>Time Left:</p>
<button type="submit" class="btnlogout">Logout</button>
</div>
<div class="tab">
{% for i in range(0,no_of_questions) %}
<button class="tablinks" name="editor" value="q" onclick="openQuestion(event,'Question{{i+1}}')">Question{{i+1}}</button>
{% endfor %}
</div>

{% for i in range(0,no_of_questions) %}
<div id="Question{{i+1}}" class="tabcontent">
	<form action="" method="POST">
		<h2>{{name[i]}}</h2>
		<h3>Description</h3>
		<p>{{desc[i]}}</p>
		<h3>Input Format</h3>
		<p>{{inputf[i]}}</p>
		<h3>Output Format</h3>
		<p>{{outputf[i]}}</p>
		<h3>Constraints</h3>
		<p>{{cons[i]}}</p>
		<h3>Sample Input</h3>
		<p>{{si[i]}}</p>
		<h3>Sample Output</h3>
		<p>{{so[i]}}</p>
		<h3>Explanation</h3>
		<p>{{explanation[i]}}</p>
	<div align="right">
        <input type="submit" name="editor" align="right" value ="Go To Editor" onclick="window.open('http://localhost:5000/runc');return false;" />
	</div>
        </form>
</div>
{% endfor %}
























<script>
function openQuestion(evt, questionName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(questionName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
   
</body>
</div>
</html> 
